<h2>Daftar Pinjaman</h2>
<a href="{% url 'pinjaman:tambah' %}">+ Tambah Pinjaman</a>

<table border="1" cellpadding="5" cellspacing="0">
  <thead>
    <tr>
      <th>Anggota</th>
      <th>Tanggal</th>
      <th>Jenis</th>
      <th>Jumlah Cicilan</th> 
      <th>Jumlah Pokok</th>
      <th>Jasa</th>
      <th>Total (Cicilan + Jasa)</th>  
      <th>Status</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    {% for p in pinjaman_list %}
    <tr>
      <td>{{ p.id_anggota.nama }}</td>
      <td>{{ p.tanggal_pinjaman|date:"j F Y" }}</td>
      <td>
        {% if p.jumlah_reguler > 0 %}
          Reguler
        {% elif p.jumlah_usaha > 0 %}
          Usaha
        {% elif p.jumlah_barang > 0 %}
          Barang
        {% else %}
          -
        {% endif %}
      </td>

      <td>Rp{{ p.jumlah_cicilan|floatformat:2 }}</td>

      <td>Rp{{ p.jumlah_reguler|add:p.jumlah_usaha|add:p.jumlah_barang|floatformat:2 }}</td>

      <td>Rp{{ p.jasa|floatformat:2 }}</td>

      <td>Rp{{ p.total|floatformat:2 }}</td>

      <td>{{ p.status|title }}</td>

      <td>
        <a href="{% url 'pinjaman:detail' p.pk %}">Detail</a> |
        <a href="{% url 'pinjaman:bayar' p.pk %}">Bayar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
