<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Ketua</title>
</head>
<body>
    <h1>Selamat datang, Ketua!</h1>
    <ul>
        <li><a href="{% url 'kelola_akun' %}">Manajemen Anggota</a></li>
        <li><a href="{% url 'tabungan:daftar_tabungan' %}">Manajemen Tabungan</a></li>
        <li><a href="{% url 'pinjaman:pinjaman_list' %}">Manajemen Pinjaman</a></li>
        <li><a href="{% url 'transaksi:transaksi_list' %}">Manajemen Transaksi</a></li>
        <li><a href="/laporan/">Lihat Laporan</a></li>
        <li><a href="{% url 'shu:list_shu' %}">Bagi SHU</a></li>
    </ul>
</body>
</html>