<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Manajemen Tabungan</title>
</head>
<body>
    
    <h1>Manajemen Tabungan</h1>

    <p>Tambah Tabungan:</p>
    <a href="{% url 'tabungan:tambah_tabungan' %}">Tambah Tabungan</a>
    <br><br>
    <a href="{% url 'tabungan:form_penarikan' %}">Form Penarikan</a>

    <br><br>

    <table border="1">
        <form method="get">
    <label for="urut">Urutkan berdasarkan:</label>
    <select name="urut" id="urut" onchange="this.form.submit()">
        <option value="nama" {% if request.GET.urut == "nama" %}selected{% endif %}>Nama (A-Z)</option>
        <option value="terbaru" {% if request.GET.urut == "terbaru" %}selected{% endif %}>Waktu Tambah Tabungan</option>
        <option value="transaksi" {% if request.GET.urut == "transaksi" %}selected{% endif %}>Transaksi Terakhir</option>
    </select>
</form>
        <thead>
            <tr>
                <th>Nama Anggota</th>
                <th>NIP</th>
                <th>Jumlah Pokok</th>
                <th>Jumlah Wajib</th>
                <th>Jumlah Sukarela</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for tabungan in daftar_tabungan %}
            <tr>
                <td>{{ tabungan.id_anggota.nama }}</td>
                <td>{{ tabungan.id_anggota.nip }}</td>
                <td>{{ tabungan.jumlah_pokok }}</td>
                <td>{{ tabungan.jumlah_wajib }}</td>
                <td>{{ tabungan.jumlah_sukarela }}</td>
                <td>
                    <a href="{% url 'tabungan:edit_tabungan' tabungan.id %}">Edit</a> |
                    <a href="{% url 'tabungan:hapus_tabungan' tabungan.id %}">Hapus</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
